
  <div class="clr-row">
    <div class="clr-col-lg-4"></div>
    <div class="clr-col-sm-12 clr-col-lg-4">
      <div class="card">
        <div class="card-header">
          <h6>Login</h6>
        </div>
        <div class="card-block">
          <form clrForm>
            <clr-input-container>
              <label class="clr-col-12" for="email">Email</label>
              <input class="clr-col-12" id="email" type="email" name="email" clrInput>
            </clr-input-container>
            <clr-input-container>
              <label class="clr-col-12" for="password">Password</label>
              <input class="clr-col-12" id="password" type="password" name="password" clrInput>
            </clr-input-container>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </form>
        </div>
      </div>
    </div>
    <div class="clr-col-lg-4"></div>
  </div>
